
replicaCount: 1
annotations: {}

api:
  environment: {}
  url: "https://kubeseal-{{ cluster.environment }}.{{ cluster.domain }}"
  image:
    repository: kubesealwebgui/api
    tag: "{{ sealed_secrets_webgui.version | default('latest') }}"

ui:
  image:
    repository: kubesealwebgui/ui
    tag: "{{ sealed_secrets_webgui.version | default('latest') }}"
  
image:
  pullPolicy: Always

serviceaccount:
  create: true

resources:
  limits:
    cpu: 100m
    memory: 256Mi
  requests:
    cpu: 20m
    memory: 256Mi

sealedSecrets:
  autoFetchCert: false
  controllerName: sealed-secrets-controller
  controllerNamespace: "{{ cluster.addons.sealed_secrets.namespace }}"
  cert: |
    {{ lookup('file', workspace_directory + '/sealed_keys/ss-public-key.pem') | from_yaml }}
          