apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cluster-secret
  labels:
    argocd.argoproj.io/secret-type: cluster
  annotations:
    managed-by: argocd.argoproj.io
data:
  config: {{ argocd_encrypted_cluster_config }}
  name: {{ argocd_encrypted_cluster_name }}
  server: {{ argocd_encrypted_cluster_server }}