redis-ha:
  enabled: {{ True if (cluster.nodes | default([]) | length >= 3) else False }}
controller:
  enableStatefulSet: true
repoServer:
  serviceAccount:
    create: true
dex:
  enabled: false
server:
  extraArgs: {{ ['--insecure'] if (cluster.addons.argocd.insecure | default(default_argocd_insecure_state)) else [] }}
configs:
  secret:
    createSecret: true
    argocdServerAdminPassword: "{{ argocd_encrypted_admin_password }}"
ingress:
    enabled: {{ cluster.addons.argocd.ingress | default(default_argocd_ingress_enabled) }}
    annotations:
      managed-by: argocd.argoproj.io
    labels: {}
    ingressClassName: "{{ cluster.ingress.controller | default('nginx') }}"
    hosts: "{{ [argocd_cluster_server] if (cluster.addons.argocd.ingress | default(False)) else [] }}"
    paths:
      - /
    pathType: Prefix
    extraPaths: []
    https: "{{ False if (cluster.addons.argocd.insecure | default(default_argocd_insecure_state)) else True }}"
    tls: []