apiVersion: v1
kind: Secret
metadata:
  name: {{ creds.name }}
  namespace: {{ cluster.addons.argocd.namespace | default(argocd_default_namespace) }}
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  url: {{ creds.repo_url | urlencode }}

{% if creds.repo_ssh_key != 'undefined' %}
  sshPrivateKey: |-
    {{ creds.repo_ssh_key | from_yaml | indent(width=4, first=True) }}
{% endif %}

{% if creds.repo_password != 'undefined' and  creds.repo_username != 'undefined' %}
  password: {{ creds.repo_password }}
  username: {{ creds.repo_username }}
{% endif%}