apiVersion: v1
kind: Secret
metadata:
  name: {{ creds.name }}
  namespace: {{ cluster.addons.argocd.namespace | default(default_argocd_namespace) }}
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  url: {{ creds.repo_url }}

{% if creds.repo_ssh_key != 'undefined' %}
  sshPrivateKey: |-
    {{ creds.repo_ssh_key | from_yaml | indent(width=4, first=False) }}
{% endif %}

{% if creds.repo_password != 'undefined' %}
  password: {{ creds.repo_password }}
  username: {{ creds.repo_username | default(creds.repo_password) }}
{% endif%}